/* Resets */
body, h1, h2, h3, p, nav, .nav-link, .home-main-section, .customer-reviews, .footer {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* App styles */
.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header styles */
.header {
  background-color: #fff;
  display: flex;
  flex-direction: column; /* Change to column layout */
  align-items: center; /* Center items horizontally */
  padding: 10px 20px;
}

.top-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 20px 10px;
}

.logo {
  height: 40px;
  width: auto;
}

.company-name {
  color: rgb(0, 0, 0);
  padding-right: 20px; 
}

/* Navigation bar styles */
.nav-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px; /* Add margin to separate from top-header */
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;

}

/* Main section styles */
.home-main-section {
  text-align: left;
  padding: 2rem;
}

.home-main-section h2 {
  margin-bottom: 0.5rem;
}

.home-main-section p {
  margin-bottom: 2rem;
}

button.shop-now {
  padding: 10px 20px;
  background-color: #d3d3d3; 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Customer reviews styles */
.customer-reviews {
  background-color: #ffff; 
  padding: 1rem;
}

.customer-reviews div {
  margin-bottom: 1rem;
}

/* Footer styles */
.footer {
  text-align: left;
  padding: 1rem;
  background-color: #fff; 
  color: rgb(0, 0, 0);
}

/* Rating styles */
.rating {
  color: #000000; 
}

/* Responsive styles */
@media (max-width: 768px) {
  .header,
  .nav-bar,
  .home-main-section,
  .customer-reviews,
  .footer {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.5rem 0;
  }
}

/* About us and customer reviews alignment */
.about-us, .customer-reviews {
  padding-left: 0;
  margin-left: calc(0.005%); 
}

@media (max-width: 768px) {
  .header, .home-main-section, .customer-reviews, .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
