.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #ffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

.logo {
  max-height: 50px; 
}

.company-name {
  color: rgb(0, 0, 0); 
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #ffff;
}

.top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.home-main-section {
  text-align: left;
  padding: 2rem;
}

.home-main-section h2 {
  margin-bottom: 0.5rem;
}

.home-main-section p {
  margin-bottom: 2rem;
}

button.shop-now {
  padding: 10px 20px;
  background-color: #d3d3d3; 
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.customer-reviews {
  background-color: #ffff; 
  padding: 1rem;
}

.customer-reviews div {
  margin-bottom: 1rem;
}

.footer {
  text-align: left;
  padding: 1rem;
  background-color: #fff; 
  color: rgb(0, 0, 0);
}

.rating {
  color: #000000; 
}

@media (max-width: 768px) {
  .header,
  .nav-link,
  .home-main-section,
  .customer-reviews,
  .footer {
    flex-direction: column;
  }

  .nav-link {
    margin: 0.5rem 0;
  }
}

.about-us, .customer-reviews {
  padding-left: 0;
  margin-left: calc(0.005%); 

}
